body {
	background: white;
	font-family: Arial;
}

.container {
	width: 800px;
	margin: 50px auto;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #f1f1f1;
}

nav li {
	display: inline;
}

nav li a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #333;
}

nav li a:hover {
	background-color: #ddd;
}

section {
	margin-bottom: 30px;
}

h2 {
	margin-top: 0;
}